@define-color C_TEXT #E6C384;
@define-color C_TEXT_GRAY #FFFFFF;
@define-color C_PANEL #000000;
@define-color C_PANEL_BACKUP #1A1B25;
@define-color C_URGENT #E46876;

*{
    font-family: Sarasa UI J, JetBrainsMono Nerd Font;
    font-weight: 600;
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}

window#waybar {
    background: @C_PANEL;
}

#workspaces button {
    all:unset;
    padding-bottom: 0;
    padding-left: 3;
    padding-right: 6;
    color: @C_TEXT_GRAY;
}

#workspaces button.active {
    color: @C_TEXT_GRAY;
}

#workspaces button:hover {
    color:@C_TEXT;
    transition: all .1s ease;
}

#workspaces button.urgent {
    color:@C_URGENT;
}

#workspaces {
    background-color: @C_PANEL;
    padding-left: 5;
    padding-right: 5;
    border-radius: 0;
}

tooltip {
    border-radius: 6px;
    background-color: @C_PANEL;
}

tooltip label {
    color: @C_TEXT_GRAY;
    font-size: 13;
    margin: 12 12 12 12;
}

#custom-tofi {
    background-color: @C_PANEL;
    font-size: 18;
    color: @C_TEXT_GRAY;
    padding-left: 15;
    padding-right: 13;
}

#tray {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    margin: 0 3 0 3;
    padding: 1 8 0 8;
}

#clock {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 0 12 0 6;
}

#custom-power {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    font-size: 17;
    padding: 2 3 0 3;
    margin: 0 0 0 0;
}

#pulseaudio {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 2 4 0 6;
    margin: 0 0 0 0;
}

#pulseaudio.microphone {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 0 6 0 12;
    margin: 2 0 0 0;
}

#backlight {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 0 12 0 12;
    margin: 2 0 0 0;
}

#battery {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 2 6 0 12;
    margin: 0 0 0 0;
}

#language {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    font-weight: 700;
    font-size: 12;
    padding: 4 6 0 12;
    margin: 0 0 0 0;
}

#bluetooth {
    background-color: @C_PANEL;
    font-size: 16;
    color: @C_TEXT_GRAY;
    padding: 2 8 0 11;
    margin: 0 0 0 0;
}

#network {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 2 6 0 10;
    margin: 0 0 0 0;
}

#cpu {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 2 6 0 10;
    margin: 0 0 0 0;
}

#memory {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 2 6 0 12;
    margin: 0 0 0 0;
}

#mpris {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 3 6 0 12;
    margin: 0 0 0 0;
}

#custom-weather {
    background-color: @C_PANEL;
    color: @C_TEXT_GRAY;
    padding: 2 0 0 0;
    margin: 0 0 0 0;
}



/*
#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight,
#language {
background: #1E1F28;
padding: 0px 10px;
margin: 2px 0px;
}

#backlight {
border-radius: 10px 0px 0px 10px;
}

#tray {
border-radius: 10px;
margin-right: 10px;
}

#workspaces {
background: #1E1F28;
border-radius: 10px;
margin-left: 10px;
padding-right: 0px;
padding-left: 5px;
}

#cpu {
border-radius: 0px 10px 10px 0px;
margin-right: 10px;
}

#memory {
border-radius: 10px 0px 0px 10px;
}

#window {
border-radius: 10px;
margin-left: 60px;
margin-right: 60px;
}

#clock {
color: #A9A9C0;
border-radius: 10px 10px 10px 10px;
margin-left: 5px;
border-right: 0px;
}

#language {
color:  #A9A9C0;
border-radius: 0px 0px 0px 0px;
}

#network {
color:  #A9A9C0;
border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
color: #A9A9C0;
border-left: 0px;
border-right: 0px;
}

#pulseaudio.microphone {
color: #A9A9C0;
border-radius: 0px 10px 10px 0px;
border-left: 0px;
border-right: 0px;
margin-right: 5px;
}

#battery {
color:#A9A9C0;
border-radius: 0px 10px 10px 0px;
margin-right: 10px;
}*/
